$bgcolor:#94526E;
$cardBgColor: #ffbb0094;
$tag: purple;
$stars: #ff4000;
$heightDesktop: 20%;
body {
    background-color: $bgcolor;   
}
@mixin center{
    justify-content: center;
    align-items: center;
}
@mixin boardSpecs{
    grid-template-columns: 20% 50% 20%;
    @include center;
    gap: 1%;
    margin: 5%;
}
@mixin mainDistribution{
    grid-template-columns: repeat(5, 1fr);
    aspect-ratio: 4;
    gap: 1%;
}
@mixin rows3Desktop{
    grid-template-rows: 1fr 1fr 1fr;
    aspect-ratio: 1/2;
}
@mixin rows2Desktop{
    grid-template-rows: 1fr 1fr;
}
@mixin bgImages{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@mixin gridBorder{
    border-style: solid;
    border-color: gray;
    border-width: medium;
}
@mixin cardBorder{
    border-style: solid;
    border-color: gray;
    border-width: light;
}
header{
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: 1fr;
    
    @include center;
    background-image: url("public/img/texture.png");
    @include bgImages;
    padding: 1%;
    .logo{
        grid-column: 1;
        align-items: flex-start;
        height: 100%;
        max-height: 20vh;
    }
    .menu{
        grid-column: 2;
        display: grid;
        grid-template-columns: repeat(3, auto);
    }
        .link{
            text-decoration: none;
            font-size: 150%;
            font-weight: bold;
            color: white;
            margin-left: 1%;
            &:hover{
                color: #F1E1B3;
        }
    }
}

footer{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 1fr;
    align-items: center;
    background-image: url("public/img/texture.png");
    @include bgImages;
    padding: 2%;
    .logo{
        grid-column: 2;
        align-items: center;
        height: 100%;
        max-height: 8vh;
    }
    .legal{
        text-decoration: none;
        font-size: 120%;
        color: white;   
    }
}

.Opponent {
  display: grid;
  @include boardSpecs;
  .OleftSide{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: repeat(2, 1fr);
    @include rows3Desktop;
    .Odeck { 
        grid-column: 2;
        grid-row: 1;
        @include gridBorder;
        background-image: url("public/img/YGODK.webp");
        @include bgImages;
        }
        .Ograveyard {
        grid-column: 2;
        grid-row: 3;
        @include gridBorder;
        background-image: url("public/img/YGOGY.webp");
        @include bgImages;
        }
        .Opendulum {
        grid-column: 2;
        grid-row: 2;
        @include gridBorder;
        background-image: url("public/img/YGOP4.webp");
        @include bgImages;
        }
        .Öbanished {
        grid-column: 1;
        grid-row: 3;
        @include gridBorder;
        background-image: url("public/img/YGOBN.webp");
        @include bgImages;
        }
    }   
    .Ocenter{
    display: grid;
    grid-column: 2;
    @include rows2Desktop;
        .Omain1 {
            display: grid;
            grid-column: 1;
            grid-row: 2;
            @include mainDistribution;
            .Omains1 {
                display: flex;
                @include center;
                @include gridBorder;
                background-image: url("public/img/YGOM1.webp");
                @include bgImages;
            }       
        }
        .Omain2 {
        display: grid;
        grid-column: 1;
        grid-row: 1;
        @include mainDistribution;
            .Omains2 {
                display: flex;
                @include center;
                @include gridBorder;
                background-image: url("public/img/YGOM2.webp");
                @include bgImages;
            }
        }           
    }
    .OrightSide{
    display: grid;
    grid-column: 3;
    grid-template-columns: repeat(2, 1fr);
    @include rows3Desktop;
        .Oextra {
            grid-column: 1;
            grid-row: 1;
            @include gridBorder;
            background-image: url("public/img/YGOET.webp");
            @include bgImages;
        }
        .Opendulum2 {
            grid-column: 1;
            grid-row: 2;
            @include gridBorder;
            background-image: url("public/img/YGOP3.webp");
            @include bgImages;
        }
        .Ofield {
            grid-column: 1;
            grid-row: 3;
            @include gridBorder;
            background-image: url("public/img/YGOFL.webp");
            @include bgImages;
        }
    }
}


.Self {
    display: grid;
    @include boardSpecs;
    .SleftSide{
        display: grid;
        grid-column: 1;
        grid-row: 1;
        grid-template-columns: repeat(2, 1fr);
        @include rows3Desktop;
        .Sextra {
            grid-column: 2;
            grid-row: 3;
            @include gridBorder;
            background-image: url("public/img/YGOET.webp");
            @include bgImages;
            }
            .Spendulum2 {
            grid-column: 2;
            grid-row: 2;
            @include gridBorder;
            background-image: url("public/img/YGOP1.webp");
            @include bgImages;
            }
            .Sfield {
            grid-column: 2;
            grid-row: 1;
            @include gridBorder;
            background-image: url("public/img/YGOFL.webp");
            @include bgImages;
            }
        }
        
    .SrightSide{
        display: grid;
        grid-column: 3;
        grid-template-columns: repeat(2, 1fr);
        @include rows3Desktop;
        .Sdeck {
            grid-column: 1;
            grid-row: 3;
            @include gridBorder;
            background-image: url("public/img/YGODK.webp");
            @include bgImages;
        }
        .Sgraveyard {
            grid-column: 1;
            grid-row: 1;
            @include gridBorder;
            background-image: url("public/img/YGOGY.webp");
            @include bgImages;
        }
        .Spendulum {
            grid-column: 1;
            grid-row: 2;
            @include gridBorder;
            background-image: url("public/img/YGOP2.webp");
            @include bgImages;
        }
        .Sbanished {
            grid-column: 2;
            grid-row: 1;
            @include gridBorder;
            background-image: url("public/img/YGOBN.webp");
            @include bgImages;
        }
    }     
    .Scenter{
        display: grid;
        grid-column: 2;
        grid-row: 1;
        grid-template-columns: repeat(1, 1fr);
        @include rows2Desktop;
        .Smain1 {
            display: grid;
            grid-column: 1;
            grid-row: 1;
            @include mainDistribution;
            .Smains1 {
                display: flex;
                @include center;
                @include gridBorder;
                background-image: url("public/img/YGOM1.webp");
                @include bgImages;
            }
        }
            .Smain2 {
            display: grid;
            grid-column: 1;
            grid-row: 2;
            @include mainDistribution;
            .Smains2 {
                display: flex;
                @include center;
                @include gridBorder;
                background-image: url("public/img/YGOM2.webp");
                @include bgImages;
            }
        
        }
    }
}

    
        
    .card{
        display: flex;
        width: 80%;
        max-height: 12vh;
        flex-direction: column;
        background-color: #ffbb00ad; 
        background-size: cover;
        @include cardBorder;
        .nameAndTag{
            display: inherit;
            flex-direction: row;
            justify-content: space-between;
            padding: 1%;
            font-size: 3%;
            background-color: $cardBgColor; 
            @include cardBorder;           
            .tag{
                color: $tag;
            }
        }
        .stars{
            display: inherit;
            justify-content: flex-end;
            color: $stars;
            font-size: 3%;
            overflow:hidden;  
        }
        .image{
            display: inherit;
            justify-content: center;
            align-items: center;
            .img{
                width: 70%;
                max-height: 5vh;
                @include cardBorder;
                overflow: hidden;
            }
        }
        .code{
            display: inherit;
            justify-content: flex-end;
            font-size: 2%;
            overflow:hidden;  
        }
        .description{
            display: inherit;
            flex-direction: column;
            justify-content: space-between;
            background-color: #e0cc97ad; 
            @include cardBorder;
            font-size: 2%;
            .descriptionAndText{
                align-items: flex-start;
                font-size: 2%;
                overflow:hidden;
                .descriptionAndTextParragraph{
                    flex-wrap: wrap;
                    font-size: 1%;
                    text-overflow:hidden;  
                }  
            }    
            .descriptionStats{
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;
                border-top: solid;
                font-size: 2%;
                overflow:hidden;  
            }
        }    
        .editionAndCopywrite{
            display: inherit;
            flex-direction: row;
            justify-content: space-between;
            font-size: 1%;
            overflow:hidden;  
        }
    }
        
            
        

@media screen and (max-width: 600px) {
    header{
        padding: 4%;
    }
        .logo{
            height: 150%;
        }
            .link{
                font-size: 100%;
            }   
    
    footer{
        padding: 3%;
    }
    .Self{
        grid-template-columns: 1% 88% 1%;
    }
    .SleftSide{
        visibility: hidden;
    }
    .SrightSide{
        visibility: hidden;
    }
    .Opponent{
        grid-template-columns: 1% 88% 1%;
    }
    .OleftSide{
        visibility: hidden;
    }
    .OrightSide{
        visibility: hidden;
    }
    .card{
        max-height: 17vh;
        .image{
            .img{
                max-height: 10vh;
            }
        }
    }
}