.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #E2E2E2;
  justify-content: center;
  align-items: center;  

  p{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #EA5D60;
    text-shadow: 1px 1px #000;
  }
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: linear-gradient(to bottom,#E2E2E2,#EA5D60);
}

.sort {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #E2E2E2;
  text-shadow: 1px 1px #000;
  border-radius: 25%;
  cursor: pointer;
  transition: 0.4s;
}

.sort:hover {
  transform: scale(0.9);
  box-shadow: 15px #EA5D60;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: height 0.3s;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}


