.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  background: #ff1a1a;
  justify-content: center;
  align-items: center;  
  margin-bottom: 2%;

  p{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #FFCB05;
    text-shadow: 1px 1px #000;
  }
}

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background: linear-gradient(to bottom right, #ff1a1a, #ffffff);
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.pokemon-list {
  display: flex;
  flex-direction: row;
  max-width: 90vw;  
  margin: 0 auto;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.pokemon-list li:hover {
  box-shadow: 0 0 15px #ff1a1a;
  transform: scale(1.1);
}

.pokemon-list li {
  display: flex;
  padding: 10;
  color: #1b1b1b;
  font-family: roboto;
  font-size: 20px;
  border-radius: 5%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #000000;
  margin-bottom: 15px;
  margin-right: 15px;
  width: 24%;
  height: 24%;
  cursor: pointer;

}

.index-number {
  color: #dd5a5a;
  font-size: 28px;
  margin-right: 10px;
}

.pokemon-image{
  width: 50%;
  height: 50%;
}

.even {
  background-color: #b8e2e0;
}

.odd {
  background-color: #C8E6C9;
}

.pokemon-list li span {
  text-shadow: 1px 1px #000;
}