<div class="header" [ngClass]="{ 'fixed': scrolled }">
  <p>Pokémon List</p>
  <div class="search-container">
    <app-search-bar
      class="search-bar"
      [search]="search"
      [placeholder]="'Search Pokemons'"
      (searchChange)="onSearchChange($event)"
    ></app-search-bar>
  </div>
  <button (click)="toggleSortOrder()">Sort Order</button>
</div>
<ul class="pokemon-list">
  <li
    *ngFor="let pokemon of pokemons; let i = index"
    [ngStyle]="{'background-color': getColorForBackground(pokemon.color)}"
  >
    <span class="index-number"> {{ pokemon.id }} </span>
    <span class="pokemon-name">
      {{ pokemon.name[0].toUpperCase() + pokemon.name.slice(1) }}
    </span>
    <img Class="pokemon-image" [src]="pokemon.image" />
  </li>
</ul>
