<div class="header" [ngClass]="{ 'fixed': scrolled }">
  <p>POKEDEX</p>    

  <div class="search-container">
    <div class="sort" (click)="toggleSortOrder()">Sort Order</div>
    <app-search-bar
      class="search-bar"
      [search]="search"
      [placeholder]="'Search Pokemons'"
      (searchChange)="onSearchChange($event)"
    ></app-search-bar>
    <app-select
      label="Generation"
      [options]="generation"
      [selectedOption]="selectedGeneration"
      (selectChange)="onSelectChange($event)"
    ></app-select>
  </div>
</div>
<div class="pokemon-list">
    <app-pokemon-card *ngFor="let pokemon of pokemons; let i = index" [pokemon]="pokemon"></app-pokemon-card>
</div>
